<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HadoTestApp.Properties.Settings.testdatabaseConnectionString"
            connectionString="Data Source=DESKTOP-F4HJ465\SQLEXPRESS;Initial Catalog=testdatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HadoTestApp.Properties.Settings.dotobusbaseConnectionString"
            connectionString="Data Source=DESKTOP-F4HJ465\SQLEXPRESS;Initial Catalog=dotobusbase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>